In [341]:
"""Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of
random numbers."""
import numpy as np
import pandas as pd
date1 = '2015-01-01'
date2 = '2015-12-31'
a = pd.date_range(date1, date2).tolist()
df=pd.Series(np.random.randint(10,100,365),index=[date])
df=pd.DataFrame(df,columns=['values'])
c=[]
i=1
while 2<3:
    
    c.append('thursday')
    
    i=i+1
    if i==366:
        break
    c.append('friday')
    
    i=i+1
    if i==366:
        break
    c.append('saturday')
    
    i=i+1
    if i==366:
        break
    c.append('sunday')
    
    i=i+1
    if i==366:
        break
    c.append('monday')
    
    i=i+1
    if i==366:
        break
    c.append('tuesday')
    
    i=i+1
    if i==366:
        break
    c.append('wednesday')
    
    i=i+1
    if i==366:
        break
c=pd.Series(c,index=[date])    
df['days']=pd.Series(c,index=[date])
df=pd.DataFrame(df)
import datetime
date=[]
month=[]
for i in range(len(a)):
    start = str(a[i])

    start_date = datetime.datetime.strptime(start, '%Y-%m-%d %H:%M:%S').date()

    date.append((start_date.strftime('%Y-%b-%d')))
    month.append((start_date.strftime('%b')))
month    
df['months']=pd.Series(month,index=[date])

df

             values       days months
2015-Jan-01      77   thursday    Jan
2015-Jan-02      60     friday    Jan
2015-Jan-03      22   saturday    Jan
2015-Jan-04      98     sunday    Jan
2015-Jan-05      93     monday    Jan
2015-Jan-06      58    tuesday    Jan
2015-Jan-07      77  wednesday    Jan
2015-Jan-08      59   thursday    Jan
2015-Jan-09      89     friday    Jan
2015-Jan-10      13   saturday    Jan
2015-Jan-11      14     sunday    Jan
2015-Jan-12      15     monday    Jan
2015-Jan-13      20    tuesday    Jan
2015-Jan-14      45  wednesday    Jan
2015-Jan-15      67   thursday    Jan
2015-Jan-16      87     friday    Jan
2015-Jan-17      40   saturday    Jan
2015-Jan-18      27     sunday    Jan
2015-Jan-19      56     monday    Jan
2015-Jan-20      57    tuesday    Jan
2015-Jan-21      12  wednesday    Jan
2015-Jan-22      20   thursday    Jan
2015-Jan-23      26     friday    Jan
2015-Jan-24      33   saturday    Jan
2015-Jan-25      45     sunday    Jan
2015-Jan-26      36     monday    Jan
2015-Jan-27      60    tuesday    Jan
2015-Jan-28      34  wednesday    Jan
2015-Jan-29      16   thursday    Jan
2015-Jan-30      67     friday    Jan
...             ...        ...    ...
2015-Dec-02      89  wednesday    Dec
2015-Dec-03      83   thursday    Dec
2015-Dec-04      84     friday    Dec
2015-Dec-05      19   saturday    Dec
2015-Dec-06      15     sunday    Dec
2015-Dec-07      13     monday    Dec
2015-Dec-08      11    tuesday    Dec
2015-Dec-09      54  wednesday    Dec
2015-Dec-10      19   thursday    Dec
2015-Dec-11      78     friday    Dec
2015-Dec-12      89   saturday    Dec
2015-Dec-13      34     sunday    Dec
2015-Dec-14      22     monday    Dec
2015-Dec-15      47    tuesday    Dec
2015-Dec-16      85  wednesday    Dec
2015-Dec-17      44   thursday    Dec
2015-Dec-18      30     friday    Dec
2015-Dec-19      28   saturday    Dec
2015-Dec-20      90     sunday    Dec
2015-Dec-21      79     monday    Dec
2015-Dec-22      25    tuesday    Dec
2015-Dec-23      26  wednesday    Dec
2015-Dec-24      56   thursday    Dec
2015-Dec-25      18     friday    Dec
2015-Dec-26      64   saturday    Dec
2015-Dec-27      10     sunday    Dec
2015-Dec-28      57     monday    Dec
2015-Dec-29      70    tuesday    Dec
2015-Dec-30      32  wednesday    Dec
2015-Dec-31      59   thursday    Dec

[365 rows x 3 columns]

In [342]:
"""Find the sum of the values in s for every Wednesday"""
day=pd.unique(df['days'])
sum_of_wednesday=df.loc[df.days==day[6],['values']]
np.array(sum_of_wednesday)
np.sum(sum_of_wednesday)

values    2884
dtype: int64

In [343]:
"""Average For each calendar month"""
x=pd.unique(df['months'])
for i in range(len(x)):
    p=df.loc[df.months==x[i],['values']]
    q=(np.array(p))
    print(x[i])
    print(np.average(q))

Jan
46.225806451612904
Feb
49.92857142857143
Mar
51.225806451612904
Apr
59.0
May
50.516129032258064
Jun
56.36666666666667
Jul
56.83870967741935
Aug
51.38709677419355
Sep
55.03333333333333
Oct
51.903225806451616
Nov
54.1
Dec
49.29032258064516

In [387]:
"""For each group of four consecutive calendar months in s, find the date on which the highest
value occurred."""

x=pd.unique(df['months'])
i=0
while i<=(len(x)-4):
    empty=[]
    emptydf=[]
    f1=df.loc[df.months==x[i],['values']]
    
    empty.append((f1))
    i=i+1
    g1=df.loc[df.months==x[i],['values']]
    
    empty.append((g1))
    i=i+1
    r=df.loc[df.months==x[i],['values']]
    
    empty.append((r))
    i=i+1
    s=df.loc[df.months==x[i],['values']]
    
    empty.append((s))
    i+1
    emptydf.append(max(empty[0]['values']))
    print(max(emptydf))

98
96
98

AttributeError: module 'pandas' has no attribute 'max'

In [388]:
pwd()

'C:\\Users\\HP PC'